.inp {
  width: 100%;
  float: left;
  padding: 0 0 6px 0;
  background: transparent;
  color: #000;
  font-family: 'Graphik', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0 0 15px 9px;
}

.inp::placeholder {
  color: #000;
  opacity: 0.5;
}

.inp:focus {
  outline: none;
}
