@value mobile-max-width from './../../globals.css';

nav {
  font-family: 'Gudea', sans-serif;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(300px, 10%);
  overflow: hidden;
  padding-top: 32px;
}

.logo {
  font-size: 1rem;
  font-weight: 700;
}

.gh_btn {
  cursor: pointer;
}

@media only screen and (max-width: mobile-max-width) {
  nav {
    justify-content: space-between;
    padding: 18px 20px;
  }

  nav > *:not(ul) {
    z-index: 10;
  }

  .gh_btn {
    display: none;
  }
}
