@value mobile-max-width from './../../globals.css';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  width: 100%;
}

.footerInfo {
  display: flex;
  gap: min(115px, 15vw);
  justify-content: center;
  align-items: center;
}

.line {
  height: 3px;
  width: 100%;
  background-color: #5e564b;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: min(300px, 50vw);
  height: min(300px, 50vw);
}

.heading3 {
  font-family: 'Qwigley', cursive;
  font-size: min(4rem, 15vw);
  font-weight: 400;
  white-space: nowrap;
}

@media only screen and (max-width: 950px) {
  .footerInfo {
    flex-direction: column;
    gap: 32px;
  }

  .footer {
    padding-bottom: 64px;
  }
}
