@value mobile-max-width from './../../../globals.css';

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: mobile-max-width) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
