.btn {
  background-color: black;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 18px 36px;
  min-width: max-content;
}
