* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 24px;
}

body {
  font-family: 'Rubik', 'Gudea', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.app {
  min-height: 100vh;
}

.app {
  background-color: #e4d6c0;
}
